body{
    background-image: url(assets/images/prism.png);
}


.brand{
    background-color:#4aaaa5;
	color: white;
	padding: 8.5px;
	font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:20pt;
    /* width: 100%; */
    margin: 0 0 0 10%;
    text-align: center;
}
 
.navbar-nav{
    margin: 0 0 0 65%; 
   
    
}

.navbar{
    border-bottom: 3px solid #cccccc;
    
}

.jumbotron {
    color: #777777;
  font-size: 18px;
  border: 2px solid #cccccc;
  background-color: #ffffff;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.row1{
    margin: 5% 10%;
}

.display-5{
    color: #4aaaa5;
    border-bottom: 3px solid #cccccc;
    
}
#pp{
    float: left;
    padding: 10px 20px 10px 0px;
}

footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	background-color: #666666;
	width: 100%;
	font-size: 12px;
	text-align: center;
	padding: 10px 0px;
	color: #ffffff;
    border-top: 6px solid #4aaaa5;
}

.submitButton{
    padding: 7;
	width: 70;
	background-color:#4aaaa5;
	color: white;
	
}


container{
	position:relative;
	/* width: 50%; */
  }
  
  
  .button{
	position: absolute;
	top: 550%;
	left:49.2%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	padding: 20;
	width: 341.1px;
	background-color:#4aaaa5;
	color: white;
	font-size: 24pt;
	cursor: pointer;
	text-align: center;
  }
   